*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.page-wrap{
    width: 100%;
    height: fit-content;
}



.add-user-section{
    width: 100%;
    height: 700px;
    padding: 40px 15% 40px 20px;
    display: flex;
    justify-content: end;
    position: relative;
    background-color: rgba(0, 0, 0, 0.373);
    background-blend-mode: darken;
    background-image: url(./assets/Images/Thor.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.form{
    width: 550px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(220, 221, 245, 0.437);
    padding: 20px;
    border-radius: 10px;
}

.form:hover{
    transition: 400ms;
    scale: 1.02;
}




input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: 1px solid darkgray;
    background-color: rgba(211, 211, 211, 0.656);
    color: black;
    font-size: 20px;
    padding: 0 20px;
}

input::placeholder{
    color: black;
}

input:hover{
    transition: 300ms;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.607);
}

button{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    font-weight: 600;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.675);
}

button:hover{
    transition: 300ms;
    background-color: darkgray;
    color: black;
}


.input-wrap{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#eye{
    position: absolute;
    right: 20px;
    top: 17px;
}

p#err-p{
    color: red;
}






.users-display-section{
    width: 100%;
    height: fit-content;
    padding: 50px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
}


.user-grid{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
}


.grid-header-main{
    height: fit-content;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr 3.5fr;
    column-gap: 15px;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    position: relative;
    transition: 400ms;
}


.grid-header{
    height: fit-content;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr 3.5fr;
    column-gap: 15px;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    position: relative;
    transition: 400ms;
}

.grid-header:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.603);
    cursor: pointer;
}


.pop-up{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal{
    width: fit-content;
    height: fit-content;
    background-color: rgba(176, 196, 222, 0.453);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 50px ;
    position: relative;
}


#modal-close{
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 5;
    transition: 300ms;
}

#modal-close:hover{
    color: red;
}


.modal-info{
    width: fit-content;
    height: fit-content;
    padding: 8px 15px;
    background-color: whitesmoke;
    display: flex;
    border-radius: 6px;
}


#delete{
    background-color: rgba(255, 0, 0, 0.303);
    color: white;
    transition: 300ms;
}

#delete:hover{
    background-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.481);
    cursor: pointer;
}









/* RESPONSIVENESS */

@media screen and (max-width: 770px) {
    .add-user-section{
        height: 600px;
        justify-content: center;
        padding: 40px 20px;
    }
    .form{
        width: 100%;
    }
    .users-display-section{
        padding: 40px 20px;
    }
}