*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: beige;
}
form > input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: 1px solid darkgray;
    background-color: lightgray;
    color: black;
    font-size: 20px;
    padding: 0 20px;
}

button{
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    background-color: lightgray;
    font-weight: 600;
    font-size: 18px;
}

button:hover{
    transition: 300ms;
    padding: 13px 35px;
    background-color: darkgray;
}